.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/.prettierrc
**/tsconfig.json
node_modules/**
*.vsix
.git/**
.github/**
*.log
coverage/**
.DS_Store
Thumbs.db
